body {
  font-family: Arial, sans-serif;
}

.animal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.animal {
  text-align: center;
  margin: 0 20px;
}

.animal-image {
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.3s ease;
  height: 100px;
  width: 100px;
}

.animal p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.green-border {
  border: 5px solid green;
}
